.Editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Editor__progress {
  background-color: rgb(200, 185, 220);
  width: 100%;
  height: 50px;
}
.Editor__task {
  background-color: rgb(170, 215, 200);
  width: 100%;
  height: 100px;
}
.Editor__editor-css,
.Editor__editor-html {
  background-color: rgb(220, 225, 120);
  width: (100% / 3);
  height: calc(100vh - 150px);
  border: 2px solid black;
  position: relative;

  & > textarea {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    font-family: monospace;
    font-size: 16px;
  }
}
.Editor__preview {
  width: (100% / 3);
  height: calc(100vh - 150px);
  border: 2px solid black;

  & > iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
  }
}
