.Editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.Editor__fullscreen-button {
  position: absolute;
  right: 10px;
  bottom: 60px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  width: 85px;
  background-color: rgb(210, 210, 210);
  cursor: pointer;

  &:hover {
    background-color: darken(rgb(210, 210, 210), 10%);
  }
}
