.Editor__task {
  width: (100% / 3);
  height: calc(100vh - 50px);
  padding: 20px;
  background-color: rgb(240, 240, 240);

  &.fullscreen-mode {
    width: 0;
    padding: 0;
    overflow: hidden;
  }

  & > h1 {
    margin: 0;
  }

  & > button {
    background-color: rgb(184, 184, 184);

    &:hover {
      background-color: darken(rgb(184, 184, 184), 10%);
    }
  }

  & > button.next-task {
    background-color: rgb(20, 160, 20);

    &:hover {
      background-color: darken(rgb(20, 160, 20), 10%);
    }
  }

  & > ol {
    margin-top: 0;
  }

  & > ol > li {
    color: black;

    &.done {
      color: green;
    }
  }
}

.Editor__validation-result {
  display: block;
  margin-top: 10px;
  font-style: italic;
  color: rgb(224, 17, 17);
}
